In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/home/pi/Desktop/108python/1.xlsx',header=None) 
df

,0,1,2,3,4,5,6,7,8,9,10
0,费用报销单,NaN,NaN,结账单号,NaN,付款日期,开始时间,2019-08-10 00:00:00,结束时间,2019-08-21 00:00:00,NaN
1,事由,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,员工信息,NaN,NaN,职位,NaN,NaN,身份证号,NaN,NaN,NaN,NaN
3,姓名,李四,NaN,经历,NaN,NaN,员工ID,1,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,日期,账目,说明,酒店,交通费,油费,餐饮,电话,招待费,杂费,总计
6,2019-08-10 00:00:00,NaN,NaN,650,1900,NaN,240,NaN,NaN,NaN,2790
7,2019-08-21 00:00:00,NaN,NaN,NaN,NaN,NaN,365,NaN,120,NaN,485
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,总计,NaN,NaN,650,1900,0,605,0,120,0,3275

In [3]:
print('员工ID =',df.iloc[3,7])
print('姓名 =', df.iloc[3,1])
print('开始时间 =',df.iloc[0,7])
print('结束时间 =',df.iloc[0,9])

员工ID = 1
姓名 = 李四
开始时间 = 2019-08-10 00:00:00
结束时间 = 2019-08-21 00:00:00

In [4]:
row_total = df.loc[df[0] == '总计']
print('餐饮费合计=', row_total.iloc[0,6])

餐饮费合计= 605

In [5]:
df = pd.read_excel('/home/pi/Desktop/108python/1.xlsx',header=None)
total = df.loc[df[0] == '总计']

row = {}
row['ID'] = df.iloc[3, 7]
row['姓名'] = df.iloc[3, 1]
row['开始日期'] = df.iloc[0, 7]
row['结束日期'] = df.iloc[0, 9]
row['酒店'] = total.iloc[0, 3]
row['交通费'] = total.iloc[0, 4]
row['油费'] = total.iloc[0, 5]
row['餐饮'] = total.iloc[0, 6]
row['电话'] = total.iloc[0, 7]
row['招待费'] = total.iloc[0, 8]
row['杂项'] = total.iloc[0, 9]
row['总计'] = total.iloc[0, 10]

In [6]:
print(row)

{'ID': 1, '姓名': '李四', '开始日期': datetime.datetime(2019, 8, 10, 0, 0), '结束日期': datetime.datetime(2019, 8, 21, 0, 0), '酒店': 650, '交通费': 1900, '油费': 0, '餐饮': 605, '电话': 0, '招待费': 120, '杂项': 0, '总计': 3275}

In [7]:
df_all = pd.DataFrame([row])
df_all

   ID  姓名       开始日期       结束日期   酒店   交通费  油费   餐饮  电话  招待费  杂项    总计
0   1  李四 2019-08-10 2019-08-21  650  1900   0  605   0  120   0  3275

In [10]:
writer = pd.ExcelWriter('/home/pi/Desktop/108python/2.xls', engine='xlwt')
df_all.to_excel(writer)
writer.save()

In [21]:
CWD = '/home/pi/Desktop/108python/'

In [22]:
from pathlib import Path
p = Path(CWD)

In [23]:
p.exists()

True

In [24]:
p.is_dir()

True

In [25]:
print(type(p))

<class 'pathlib.PosixPath'>

In [26]:
list(p.glob('*'))

[PosixPath('/home/pi/Desktop/108python/2.xls'),
 PosixPath('/home/pi/Desktop/108python/.ipynb_checkpoints'),
 PosixPath('/home/pi/Desktop/108python/README.md'),
 PosixPath('/home/pi/Desktop/108python/1.xlsx'),
 PosixPath('/home/pi/Desktop/108python/.git'),
 PosixPath('/home/pi/Desktop/108python/auto.md'),
 PosixPath('/home/pi/Desktop/108python/ras-pd-auto.ipynb'),
 PosixPath('/home/pi/Desktop/108python/1.ipynb'),
 PosixPath('/home/pi/Desktop/108python/mac-pd-auto.ipynb')]

In [27]:
list(p.glob('**/[!All]*.xlsx'))

[PosixPath('/home/pi/Desktop/108python/1.xlsx')]

In [28]:
for q in p.glob('**/[!All]*.xlsx'):
    print(q.name)

1.xlsx