In [11]:
import pandas as pd

In [12]:
df1 = pd.read_excel('phone.xlsx',index_col=0)

In [13]:
df2 = pd.read_excel('data.xls', index_col=0)

In [15]:
tel_2 = df2['tel'].astype(str).tolist()
tel_2

['13881518831', '18280693866', '18113257962']

In [16]:
df3 = df1[df1['tel'].isin(tel_2)]
df3

,legal_person,zhucedizhi,new_nianbao,tel,other_tel
company,,,,,
会理县怀烯家庭农场,杨兴明,会理县通安镇通宝村1组71号,通安镇通宝村1组,18113257962,18113257962;18113257926

In [17]:
df3.to_excel('tb.xlsx', sheet_name='tb1')