In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
df1 = pd.read_excel('phone.xlsx',index_col=0)

In [3]:
df2 = pd.read_excel('data.xls', index_col=0)

In [4]:
df2

              tel
name
文刚    13881518831
杨福平   18280693866
杨兴明   18113257962

In [5]:
df1.columns

Index(['legal_person', 'zhucedizhi', 'new_nianbao', 'tel', 'other_tel'], dtype='object')

In [16]:
df2.iloc[0]

tel    13881518831
Name: 文刚, dtype: int64

In [49]:
df2.iloc[2,0]

'杨兴明'

In [50]:
df2.iloc[2,1]

18113257962

In [41]:
len(df2)

3

In [27]:
df1['tel'].dtpye

AttributeError: 'Series' object has no attribute 'dtpye'

In [20]:
df1[df1['tel'].isin(['18113257962'])]

,legal_person,zhucedizhi,new_nianbao,tel,other_tel
company,,,,,
会理县怀烯家庭农场,杨兴明,会理县通安镇通宝村1组71号,通安镇通宝村1组,18113257962,18113257962;18113257926

In [28]:
tel_2 = df2['tel'].astype(str).tolist()
tel_2

['13881518831', '18280693866', '18113257962']

In [30]:
df3 = df1[df1['tel'].isin(tel_2)]

In [31]:
df3

,legal_person,zhucedizhi,new_nianbao,tel,other_tel
company,,,,,
会理县怀烯家庭农场,杨兴明,会理县通安镇通宝村1组71号,通安镇通宝村1组,18113257962,18113257962;18113257926

In [32]:
df3.to_excel('tb.xlsx', sheet_name='tb1')

In [37]:
def function(a, b):
    if a == b:
        return 1
    else:
        return 0

In [55]:
df['bool'] = df2.apply(lambda x: function(df2['电话号码'],df1['电话'], axis = 1 ))

TypeError: function() got an unexpected keyword argument 'axis'

In [56]:
df = pd.concat([df1, df2], axis=1)

In [61]:
df['result'] = np.where(df['电话'] == df['电话号码'], 'True', 'False')
print(df.loc[df['result'] == 'True'])

Empty DataFrame
Columns: [法定代表人, 注册地址, 最新年报地址, 电话, 其他电话, 姓名, 电话号码, result]
Index: []